{% load static %} {% static "" as baseUrl %}

<div class="container " id="links">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12 context">
      <h1>NOMBRE DEL TORNEO</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 indicadores">
      <p >4</p>
      <h2 class="fw-normal">PENDIENTES</h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 indicadores">
      <p >174</p>
      <h2 class="fw-normal">APROBADAS</h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 indicadores">
      <p >12</p>
      <h2 class="fw-normal">RECHAZADAS</h2>
    </div>
  </div>
</div><!-- /.container -->