{% load static %} {% static "" as baseUrl %}

<div class="container marketing" id="links">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="{% static 'web/assets/logos/laurelDorado.png' %}" />

        <h1>LINKS DE INTERES</h1>
      
      </div>
      {% for value in link %}
        <div class="col-lg-4">
            <img src="media/{{ value.img}}" alt="">
            <h2 class="fw-normal">{{ value.titulo | upper}}</h2>
            <p>
           {{ value.parrafo |capfirst }}
            </p>
        </div>
      {% endfor %}

    </div>
    <!-- /.row -->
  </div>
