{% extends "web/root/origin.html" %} 
{% load static %} 
{% static "" as baseUrl %} 
{% block title %} 
  {{nameWeb}} {{ title }} 
{% endblock %} 

{% block header %} 

      {% include "socio/header/header_socios.html" %}

{% endblock %}

{% block body %}

    {% include "socio/banner/banner_torneo_resumen.html" %}
        {% if secretario == 'Secretario' or secretario == 'Super Usuario' %}
           <div class="row justify-content-end">
                <div class="col-lg-2 dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SECRETARIO
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../bus">BUS</a></li>
                    <li><a class="dropdown-item" href="../auto">AUTO</a></li>
                  </ul>
                </div>
            </div> 
        {%endif%}

    
    {% if solicitudEstado == 'P' %}
        <div class="container marketing" id="links">
        <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-12 context">
                <h1> <img src="{% static '/web/assets/logos/pendiente.png' %}"> PENDIENTE </h1>
                <p>Gracias por tu interés en participar en nuestro próximo torneo de golf! Tu solicitud está siendo procesada. Agradecemos tu entusiasmo y paciencia.<br><br> ¡Prepárate para disfrutar de una experiencia única en el campo de golf! Si tienes alguna pregunta adicional, no dudes en contactarnos. ¡Nos vemos en el green!<br>
                </p>
              </div>
            </div>
        </div><!-- /.container -->
    {%elif solicitudEstado == 'A'%}
        <div class="container marketing" id="links">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-3">
                  <h6 ><a href="/media/{{bases}}"  target="_blank" style="color:#BF9D5E!important;">BASES </a></h6">
                </div>
                <div class="col-lg-3">
                  <h6 style="color:black!important;"><a href="/media/{{resultados}}"  target="_blank" style="color:#BF9D5E!important;">RESULTADOS</a></h6">
                </div>
                <div class="col-lg-3">
                  <h6 style="color:black!important;"><a href="/media/{{premiacion}}"  target="_blank" style="color:#BF9D5E!important;">PREMIACIÓN</a></h6">
                </div>
                {% if solicitud.torneo.abierto %}
                <div class="col-lg-3">
                  <h6 style="color:black!important;"><a href="{% url 'suspender'%}" style="color:#BF9D5E!important;">SUSPENDER</a></h6">
                </div>
                {%endif%}
            </div>
            <div class="row">
              <div class="col-lg-12 context">
                <h1> <img src="{% static '/web/assets/logos/ok.png' %}"> APROBADA</h1>
                <p> Estimado<br><br>

                    ¡Nos complace informarte que tu solicitud para participar en nuestro torneo de golf ha sido aprobada! Felicitaciones por ser seleccionado para formar parte de este emocionante evento.<br><br>

                    Estamos entusiasmados de contar contigo entre nuestros participantes. Tu dedicación y pasión por el golf son admirables, y estamos seguros de que tu presencia en el torneo será un gran aporte.<br><br>

                    ¡Te deseamos mucha suerte en el torneo y esperamos que disfrutes al máximo esta experiencia!<br><br>

                    Saludos cordiales<br><br>
                    EL CAPITÁN
                </p>
                
               {% if listadoAceptados != ''%}
                <h1> INSCRITOS </h1>
                 <iframe id="inlineFrameExample" 
                    title="Inline Frame Example" 
                    width="100%" 
                    height="800" 
                    src= "../../../media/{{ listadoAceptados }}"> 
                </iframe> 
                {% endif %}
              </div> 
            </div>
        </div><!-- /.container -->
    {%elif solicitudEstado == 'R'%}
        <div class="container marketing" id="links">
        <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-12 context">
                <h1> <img src="{% static '/web/assets/logos/rechazado.png' %}"> RECHAZADA </h1>
                <p> Estimado<br><br>

                    Agradecemos enormemente tu interés en participar en nuestro torneo de golf. Lamentablemente, debido: <strong>"{{ solicitud.motivo }}".</strong> Esta vez, tu solicitud no ha sido seleccionada para el torneo.<br><br>

                    Queremos expresar nuestro agradecimiento por tu interés y te animamos a seguir participando en futuros eventos. Valoramos tu dedicación al golf y esperamos contar contigo en próximas oportunidades.<br><br>

                    Te deseamos mucho éxito en tus futuras actividades y esperamos verte pronto en otros eventos.<br><br>

                    Atentamente.<br><br>
                    EL CAPITÁN
                </p>
              </div>
            </div>
        </div><!-- /.container -->
    {%elif solicitudEstado == 'C'%}
        <div class="container marketing" id="links">
        <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-12 context">
                <h1> <img src="{% static '/web/assets/logos/rechazado.png' %}"> Torneo {{nombreTorneo}} Cerrado </h1>
                <p> Estimado<br><br>
                    ¡Gracias a todos por el entusiasmo y la participación en nuestro torneo de golf!. Las inscripciones están oficialmente cerradas. Agradecemos a todos los jugadores por su interés y les deseamos lo mejor a aquellos que competirán. Manténganse atentos para futuros eventos y oportunidades de participar.<br><br>¡El golf nunca termina, así que estén listos para la próxima oportunidad!.<br><br>
                    Atentamente.<br><br>
                    EL CAPITÁN
                </p>
              </div>
            </div>
        </div><!-- /.container -->

    {%endif%}
{% endblock %}

{% block extraJs %} 

<script src="{% static 'web/js/solicitud.js' %}"></script>   
<script src="{% static 'socio/js/solicitud.js' %}"></script>    
{% endblock %}